*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
/* 
@viewport {
    width: device-width;
    initial-scale: 1;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #38353d;
}

body {
    background-color: #EFF8FF;
} 

.main-container {
    display: block;
    width: 96%;
    margin: auto;
}

.first-container-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9f3fb;
    height: 300px;
}

.section-para{
    color: #527282;
    font-size: 18px;
}

.section-subtitle {
    color: #0077be;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.section-subtitle::before {
    content: '✦';
    margin-right: 8px;
}

.section-title {
    color: #0e384c;
    font-size: 48px;
    margin-bottom: 2%;
}

.title-highlight {
    color: #1e84b5;
}

.contact-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.contact-1sec{
    display: flex;
    justify-content: space-between;
    margin: 150px 0px;
    gap: 170px;
}

.contact-image img{
    width: 465px;
    border-radius: 30px;
}

.contact-container input, textarea{
    padding: 15px 20px;
    background-color: transparent;
    border: 1px solid #0e384c1a;
    border-radius: 10px;
    color: #0e384c;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    box-shadow: none;
}

input{
    width: 225px;
}

form{
    width: 50vw;
}

.form-group{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

textarea{
    height: 100px;
    width: 69%;
    margin-top: 30px;
    margin-bottom: 30px;
    resize: none;
}

.btn {
    display: inline-block;
    padding: 0.9rem 1.8rem;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
    border-radius: 30px;
}

.btn-primary {
    background-color: #1e84b5;
}

.btn-primary::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0e384c;
    transform: translateX(-100%);
    transition: all .5s;
    z-index: -1;
}

.btn-primary:hover::before {
    transform: translateX(0);
}

.contact-info-boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 55px;
}

.contact-info{
    display: block;
    width: 245px;
    border: 1px solid #0e384c1a;
    border-radius: 30px;
    margin-bottom: 30px;
    padding: 30px;
    box-shadow: 0px 4px 40px 0px #0000000F;
}

.contact-info h2{
    color: #0e384c;
    margin: 15px 0px;
}

.contact-info p{
    font-size: 18px;
    color: #527282;
}

iframe{
    width: 625px;
    height: 775px;
    border-radius: 30px;
}